<h2>Estadísticas</h2>
<ul>
    <li>
        Número de preguntas: <%= stats.totalQuizes %>
    </li>
    <li>
        Número de comentarios totales: <%= stats.totalComments %>
    </li>
    <li>
        Número medio de comentarios por pregunta: <%= stats.media %>
    </li>
    <li>
        Número de preguntas sin comentarios: <%= stats.totalQuizesWithoutComments %>
    </li>
    <li>
        Número de preguntas con comentarios: <%= stats.totalQuizesComments %>
    </li>
</ul>